.menu {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100svh;
  pointer-events: none;
  z-index: 5;
}

.nav-corner {
  position: fixed;
  padding: 1em;
  pointer-events: all;
}

.nav-corner-top-left {
  top: 0;
  left: 0;
}

.nav-corner-top-right {
  top: 0;
  right: 0;
}

.nav-corner-bottom-left {
  bottom: 0;
  left: 0;
}

.nav-corner-bottom-right {
  right: 0;
  bottom: 0;
}

.nav-corner a,
.nav-corner p {
  white-space: nowrap;
}

.nav-corner-top-left a {
  font-weight: 700;
}
